<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Certification" verbose="1" >
    <test name="challenge1">
        <classes>
            <class name="challenges.challenge1.challenge1"/>
        </classes>
    </test>
    <test name="challenge2">
        <classes>
            <class name="challenges.challenge2.challenge2"/>
        </classes>
    </test>
    <test name="challenge3">
        <classes>
            <class name="challenges.challenge3.challenge3"/>
        </classes>
    </test>
    <test name="challenge4">
        <classes>
            <class name="challenges.challenge4.challenge4"/>
        </classes>
    </test>
    <test name="challenge5">
        <classes>
            <class name="challenges.challenge5.challenge5"/>
        </classes>
    </test>
    <test name="challenge6">
        <classes>
            <class name="challenges.challenge6.challenge6"/>
        </classes>
    </test>
    <test name="challenge7">
        <classes>
            <class name="challenges.challenge7.challenge7"/>
        </classes>
    </test>
</suite>